In [ ]:
#conditional statements

# if statement

In [ ]:
a= 10
if a>1:
    print("a>1")

# if else statement

In [ ]:
a= 0
if a>1:
    print("a>1")
else:
    print("a<1")

# if elif

In [ ]:
a=5
if a>1:
    print("a>1")
elif a > -1:
    print("1 >= a > -1")

# if elif else

In [ ]:
a=-22
if a>1:
    print("a>1")
elif a==0:
    print("a==0")
else:
    print("a<0")

In [ ]:
b=-2
if b==21 and b<=40:
    print("the age is between 21 to 40")
elif b==41 and b<=60:
    print("the age is between 41 to 60")
elif b>60:
    print("the age is above 60")
elif b<0:
    print("age entered is invalid")
elif b==0 and b<=20:
    print("the age is between 0 to 20")

In [ ]:
c= 6
if c%5==0 and c%3==0:
    print("number is multiple of 3 and 5")
elif c%5==0:
    print("number is divisible by only 5")
elif c%3==0:
    print("number is divisible by only 3")
else:
    print("its not a multiple of 3 and 5")

# modulo operator

In [ ]:
10%5

# While loops

In [ ]:
a=5 
while a>0:
    print("a = ,a )
    a-= 1

In [ ]:
num = 25
while num <=50:
    print("number is ", num)
    num +=1

# if inside while

In [ ]:
n=1
while n<=50:
    if n%3==0:
        print("%s is multiple of 3" %n)
    else:
        print("%s it not a multiple of 3" %n)
    n += 1

In [ ]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import sklearn

In [2]:
n=0
l=[]
while n <=100:
    if n%5==0 and n%3!=0:
        #print("%s is a multiple of 5 but not a multiple of 3" %n)
        l.append(n)
    n +=1
print(l)

[5, 10, 20, 25, 35, 40, 50, 55, 65, 70, 80, 85, 95, 100]

In [9]:
print(len(l))

14

In [10]:
print(sum(l))

735

In [15]:
n=0
a=[]
while n <= 1000:
    if n**2 %3 ==0 and n%2==0:
        a.append(n)
    if len(a)==25:
        break
    n +=1
print(a)

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 102, 108, 114, 120, 126, 132, 138, 144]

# while else

In [ ]:
data=

In [18]:
for i in range(1,11):
    print("*"*i)

*
**
***
****
*****
******
*******
********
*********
**********

In [68]:
for i in range (1,10):
    print(" "*(10-i), end="")
    print("*"*i)

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********

In [72]:
for i in range (1,50):
    print(" "*(50-i), end=" ")
    #print("*"*(11-1),end=" ")
    print("*"*i, end="")
    print("*"*i)

                                                  **
                                                 ****
                                                ******
                                               ********
                                              **********
                                             ************
                                            **************
                                           ****************
                                          ******************
                                         ********************
                                        **********************
                                       ************************
                                      **************************
                                     ****************************
                                    ******************************
                                   ********************************
                                  **********************************
                                 ************************************
                                **************************************
                               ****************************************
                              ******************************************
                             ********************************************
                            **********************************************
                           ************************************************
                          **************************************************
                         ****************************************************
                        ******************************************************
                       ********************************************************
                      **********************************************************
                     ************************************************************
                    **************************************************************
                   ****************************************************************
                  ******************************************************************
                 ********************************************************************
                **********************************************************************
               ************************************************************************
              **************************************************************************
             ****************************************************************************
            ******************************************************************************
           ********************************************************************************
          **********************************************************************************
         ************************************************************************************
        **************************************************************************************
       ****************************************************************************************
      ******************************************************************************************
     ********************************************************************************************
    **********************************************************************************************
   ************************************************************************************************
  **************************************************************************************************

# functions

# syntax

## def fu name(parameters):
          function definition

In [32]:
def square():
    r=n**2
    return(r)

In [33]:
square(10)

100

In [44]:

l=[3,5,2,7,9]
v=[]

def square(x):
    r=x**2,
    return(r)

for x in l :
    op = square(x)
    v.append(op)

In [45]:
print(v)

[9, 25, 4, 49, 81]

In [46]:
import math
l=[3,5,2,7,9]
v=[]

def square(x):
    r=x**2
    rt= math.sqrt(x)
    return(r,rt)

for x in l :
    op = square(x)
    v.append(op)

In [47]:
print (v)

[(9, 1.7320508075688772), (25, 2.23606797749979), (4, 1.4142135623730951), (49, 2.6457513110645907), (81, 3.0)]

In [48]:
import numpy as np

In [50]:
x= np.array([1,2,3,5,3])

In [51]:
x.max()

5

In [52]:
x.mean()

2.8

In [53]:
x.min()

1

In [54]:
y=x.copy()

In [55]:
y

array([1, 2, 3, 5, 3])

In [58]:
y.sort(-1)

In [62]:
?y.sort